@model SuperTransp.Models.DriverViewModel
@{
    Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Modificar Socio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

    <!-- Air DatePicker -->
    <link href="~/plugins/airdatepicker/air-datepicker.min.css" rel="stylesheet" />

    <style>
        .is-invalid {
            border: 2px solid red;
            background-color: #ffe6e6;
        }
    </style>
</head>
<body class="is-preload">
    @using (Html.BeginForm("Edit", "Driver", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <a href="#" class="logo">
                        <span><img src="~/images/Logo.png" width="100px" height="100px" alt="" /></span>
                        <br />
                        <span class="title">@ViewBag.EmployeeName</span>
                        <br />
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div id="successMessage" class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                    </a>
                </div>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Agregar socios a organización", "PublicTransportGroupList", "Driver")</li>
                    <li>@Html.ActionLink("Agregar organización", "Add", "PublicTransportGroup")</li>
                    <li>@Html.ActionLink("Modificar organización", "PublicTransportGroupList", "PublicTransportGroup")</li>
                    <li>@Html.ActionLink("Socios/Transportistas", "Index", "Driver")</li>
                    <li>@Html.ActionLink("Salir", "Login", "Security")</li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <!-- Form -->
                    <section>
                        <h1 style="color:#4cbece">Modificar socio</h1>
                        <label>Organización: @Model.PTGCompleteName</label>
                        <br />
                        <label>Cupo: @ViewBag.Partners</label>
                        <br />
                        <br />
                        <br />
                        <div class="row gtr-uniform">
                            <div class="col-6">
                                <strong>Cédula:</strong>
                                @Html.HiddenFor(x => x.PTGCompleteName)
                                @Html.HiddenFor(x => x.DriverId)
                                @Html.HiddenFor(x => x.PublicTransportGroupId)
                                @Html.TextBoxFor(x => x.DriverIdentityDocument, new { placeholder = "Cédula", tabindex = "0", maxlength = "8" })
                                <span asp-validation-for="DriverIdentityDocument" class="text-danger"></span>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <strong>Nombre:</strong>
                                @Html.TextBoxFor(x => x.DriverFullName, new { placeholder = "Nombre del socio", tabindex = "0", maxlength = "20" })
                            </div>
                            <div class="col-6">
                                <strong>Sexo:</strong>
                                @Html.DropDownListFor(t => t.SexId, (SelectList)ViewBag.Sex, "-- Seleccione --", new { @class = "form-control" })
                            </div>
                            <div class="col-6">
                                <strong>Fecha de nacimiento:</strong>
                                @Html.TextBox("Birthdate", Model.Birthdate.ToString("dd/MM/yyyy"), new { maxlength = "20" })
                            </div>
                            <div class="col-6">
                                <strong>Número de Socio:</strong>
                                @Html.TextBoxFor(x => x.PartnerNumber, new { placeholder = "Número de socio", maxlength = "3" })
                                <span asp-validation-for="PartnerNumber" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <strong>Teléfono:</strong>
                                @Html.TextBoxFor(x => x.DriverPhone, new { placeholder = "Teléfono del socio", maxlength = "11" })
                                <span asp-validation-for="DriverPhone" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    @{
                                        if (ViewBag.IsTotalAccess)
                                        {
                                            <li><button type="submit" id="saveRequest" class="primary">Modificar</button></li>
                                        }
                                    }									
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <!-- Air DatePicker -->
    <script src="~/plugins/airdatepicker/air-datepicker.min.js"></script>
    <script src="~/js/driver-edit.js" asp-append-version="true"></script>
    <script>
        window.checkExistingValuesOnEditUrl = '@Url.Action("CheckExistingValuesOnEdit", "Driver")';
        window.editWithAjaxUrl = '@Url.Action("EditWithAjax", "Driver")';
        window.redirectToAddBaseUrl = '@Url.Action("Add", "Driver")';
    </script>
</body>
</html>