@model PublicTransportGroupViewModel
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Ajustes</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

</head>
<body class="is-preload">
	@using (Html.BeginForm("AccesLogin", "Login", FormMethod.Post))
	{
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">
					<!-- Logo -->
					<a href="#" class="logo">
						<span><img src="~/images/Logo.png" width="100px" height="100px" alt="" /></span>
						<br />
						<span>Agregar socios a líneas de transporte</span>
						<br />
						<span>@ViewBag.EmployeeName</span>
					</a>
				</div>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Salir", "Login", "Security")</li>
				</ul>
			</nav>

			<div id="main">
				<div class="inner">
					<!-- Form -->
					<br />
					<section>
						<h2>Opciones</h2>
						<div class="row">
							<div class="col-6 col-12-medium">
								<ul>
									<li>@Html.ActionLink("Agregar socios a línea", "PublicTransportGroupList", "Driver")</li>
								</ul>
							</div>
						</div>
					</section>

				</div>
			</div>
			<!-- Footer -->
			<footer id="footer">
				<label style="text-align:center">
					Sistema para la Supervisión de Unidades de Transporte &copy; @DateTime.Now.Year
				</label>
			</footer>
		</div>
	}
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
</body>
</html>