@model List<SuperTransp.Models.PublicTransportGroupViewModel>
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>

<head>
	<title>Líneas Registradas</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>

	@*DataTable************************************************************************@
	<link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
	<link rel="stylesheet" href="~/datatable/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" href="~/datatable/css/responsive.bootstrap4.min.css" />
	@*************************************************************************************@

</head>
<body class="is-preload">
	<div style="width:100%; max-width: 100em; margin: 0 auto; padding: 0 1em;">
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="#" class="logo">
					<span><img src="~/images/Logo.png" width="100px" height="100px" alt="" /></span>
					<br />
					<span>Agregar socios a líneas de transporte</span>
					<br />
					<span>@ViewBag.EmployeeName</span>
				</a>
			</div>
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
				<li>@Html.ActionLink("Salir", "Login", "Security")</li>
			</ul>
		</nav>

		<div id="main">
			<div class="inner">
				<!-- Form -->
				<section>
					<h4 style="color:#4cbece"> Seleccione una Línea</h4>
					<br />
					<table id="inventory" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Tipo</th>
								<th>Rif</th>
								<th>Socios Línea</th>
								<th>Socios Cargados</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var ptg in Model)
							{
								<tr>
									<td>
										@Html.ActionLink(@ptg.PTGCompleteName, "Add", "Driver", new { publicTransportGroupId = ptg.PublicTransportGroupId, pTGCompleteName = ptg.PTGCompleteName })
									</td>
									<td>@ptg.ModeName</td>
									<td>@ptg.PublicTransportGroupRif</td>
									<td>@ptg.Partners</td>
									<td>@ptg.TotalDrivers</td>
									<td>@ptg.StateName</td>
								</tr>
							}
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>

	@*DataTable*******************************************@
	<script src="~/datatable/js/jquery-3.5.1.js"></script>
	<script src="~/datatable/js/jquery.dataTables.min.js"></script>
	<script src="~/datatable/js/dataTables.bootstrap4.js"></script>
	<script src="~/datatable/js/dataTables.responsive.min.js"></script>
	<script src="~/datatable/js/responsive.bootstrap4.min.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	@***********************************************************@

	<script type="text/javascript">

		$(document).ready(function () {

			$('#inventory').DataTable({
				stateSave: true,
				"language": {
					"sProcessing":    "Procesando...",
					"sLengthMenu":    "Mostrar _MENU_ registros",
					"sZeroRecords":   "No se encontraron resultados",
					"sEmptyTable":    "Ningún dato disponible en esta tabla",
					"sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix":   "",
					"sSearch":        "Buscar:",
					"sUrl":           "",
					"sInfoThousands":  ",",
					"sLoadingRecords": "Cargando...",
					"oPaginate": {
						"sFirst":    "Primero",
						"sLast":    "Último",
						"sNext":    "Siguiente",
						"sPrevious": "Anterior"
					},
					"oAria": {
						"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
						"sSortDescending": ": Activar para ordenar la columna de manera descendente"
					}
				}
			});
		});
	</script>

</body>
</html>