@model SecurityUserViewModel
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Ajustes</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	@using (Html.BeginForm("AccesLogin", "Login", FormMethod.Post))
	{
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">
					<!-- Logo -->
					<a href="#" class="logo">
						<span class="symbol"><img src="~/images/logo_login.jpg" alt="" /></span><span class="title">SuperTransp</span>
						<br />
						<span class="title">@ViewBag.EmployeeName</span>
					</a>
				</div>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Salir", "Login", "Security")</li>
				</ul>
			</nav>

			<div id="main">
				<div class="inner">
					<!-- Form -->
					<br />
					<section>
						<h2>Ajustes Generales</h2>
						<div class="row">
							<div class="col-6 col-12-medium">
								<h3>Organizaciones de Transporte</h3>
								<ul>
									@{
										if (ViewBag.IsTotalAccessDesignation)
										{
											<li>@Html.ActionLink("Agregar tipo de Línea", "AddDesignation", "CommonData")</li>
										}
										if (ViewBag.IsTotalAccessUnion)
										{
											<li>@Html.ActionLink("Agregar Gremio o Sindicato", "AddUnion", "CommonData")</li>
										}
										if (ViewBag.IsTotalAccessMakeModel)
										{
											<li>@Html.ActionLink("Agregar Marca / Modelo", "AddMakeModel", "CommonData")</li>
										}
									}
								</ul>
							</div>
							<div class="col-6 col-12-medium">
								<h3>Seguridad</h3>
								<ul>
									<li>@Html.ActionLink("Cambiar Clave", "ChangePassword", "Security")</li>
									@{
										var modulesInGroup = (IEnumerable<SecurityModuleModel>)ViewBag.ModulesInGroup;

										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 8))
										{
											<li>@Html.ActionLink("Agregar Usuario", "AddUser", "Security")</li>
										}
										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 9))
										{
											<li>@Html.ActionLink("Modificar Usuario", "UserList", "Security")</li>
										}
										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 10))
										{
											<li>@Html.ActionLink("Agregar Grupo", "AddGroup", "Security")</li>
										}
										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 11))
										{
											<li>@Html.ActionLink("Modificar Grupo", "GroupList", "Security")</li>
										}
										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 12))
										{
											<li>@Html.ActionLink("Agregar Modulo", "AddModule", "Security")</li>
										}
										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 13))
										{
											<li>@Html.ActionLink("Modificar Modulo", "ModuleList", "Security")</li>
										}
										if (ViewBag.SecurityGroupId == 1 || modulesInGroup.Any(x => x.SecurityModuleId == 14))
										{
											<li>@Html.ActionLink("Agregar Modulo a grupo", "AddModulesToGroups", "Security")</li>
										}										
									}

								</ul>
							</div>
@* 							<div class="col-6 col-12-medium">
								<h3>Tasa del día</h3>
								<ul>
									<li>@Html.ActionLink("Agregar tasa del día", "Add", "ExchangeRate")</li>
								</ul>
							</div> *@
						</div>
					</section>

				</div>
			</div>
		</div>
	}
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
</body>
</html>