@model SecurityUserModel
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Ajustes</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	@using (Html.BeginForm("AccesLogin", "Login", FormMethod.Post))
	{
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">
					<!-- Logo -->
					<a href="index.html" class="logo">
						<span class="symbol"><img src="~/images/logo_login.jpg" alt="" /></span><span class="title">SuperTransp</span>
					</a>
				</div>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Salir", "Login", "Security")</li>
				</ul>
			</nav>

			<div id="main">
				<div class="inner">
					<!-- Form -->
					<br />
					<section>
						<h2>Ajustes Generales</h2>
						<div class="row">
							<div class="col-6 col-12-medium">
								<h3>Organizaciones de Transporte</h3>
								<ul>
									<li>@Html.ActionLink("Agregar tipo de Organización", "Add", "Clinic")</li>
									<li>@Html.ActionLink("Modificar tipo de Organización", "SelectClinic", "Setting")</li>
								</ul>
							</div>
							<div class="col-6 col-12-medium">
								<h3>Seguridad</h3>
								<ul>
									<li>Cambiar Password</li>
									<li>@Html.ActionLink("Agregar Usuario", "AddUser", "Security")</li>
									<li>@Html.ActionLink("Modificar Usuario", "UserList", "Security")</li>
								</ul>
							</div>
@* 							<div class="col-6 col-12-medium">
								<h3>Tasa del día</h3>
								<ul>
									<li>@Html.ActionLink("Agregar tasa del día", "Add", "ExchangeRate")</li>
								</ul>
							</div> *@
						</div>
					</section>

				</div>
			</div>
		</div>
	}
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
</body>
</html>