@model SuperTransp.Models.SecurityUserViewModel
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Agregar Usuario</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
	<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

	<style>
		.is-invalid {
			border: 2px solid red;
			background-color: #ffe6e6;
		}
	</style>
</head>
<body class="is-preload">
	@using (Html.BeginForm("AddUser", "Security", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
					<a href="#" class="logo">
						<span class="symbol"><img src="~/images/logo_login.jpg" alt="" /></span><span class="title">SuperTransp</span>
						<br />
						<span class="title">@ViewBag.EmployeeName</span>
						<br />
						@if (TempData["SuccessMessage"] != null)
						{
							<div id="successMessage" class="alert alert-success">
								@TempData["SuccessMessage"]
							</div>
						}
					</a>
				</div>
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Modificar usuario", "UserList", "Security")</li>
					<li>@Html.ActionLink("Ajustes", "Index", "Settings")</li>
					<li>@Html.ActionLink("Salir", "Login", "Security")</li>
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Form -->
					<section>
						<h1 style="color:#4cbece">Agregar usuario</h1>
						<br />
						<div class="row gtr-uniform">
							<div class="col-12">
								<strong>Cédula:</strong>
								@Html.TextBoxFor(x => x.SecurityUserDocumentIdNumber, new { placeholder = "Cédula", tabindex = "0", maxlength = "10" })
								<span asp-validation-for="SecurityUserDocumentIdNumber" class="text-danger"></span>
							</div>
							<div class="col-12">
								<strong>Nombre Completo:</strong>
								@Html.TextBoxFor(x => x.FullName, new { placeholder = "Nombre Completo",  maxlength = "50" })
								<span asp-validation-for="FullName" class="text-danger"></span>
							</div>
							<div class="col-12">
								<strong>Nombre de Usuario:</strong>
								@Html.TextBoxFor(x => x.Login, new { placeholder = "Nombre de Usuario", maxlength = "50" })
								<span asp-validation-for="Login" class="text-danger"></span>
							</div>
							<div class="col-4">
								<strong>Clave:</strong>
								@Html.PasswordFor(x => x.Password, new { placeholder = "Clave", maxlength = "50" })
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="col-2">
								<span id="togglePassword" style=transform: translateY(-50%); cursor: pointer;">
									<i class="fa fa-eye"></i>
								</span>
							</div>
							<div class="col-6 col-12-xsmall">
								<strong>Grupo:</strong>
								@Html.DropDownListFor(t => t.SecurityGroupId, (SelectList)ViewBag.Groups, "-- Seleccione el grupo --")
							</div>
							<div class="col-6 col-12-xsmall">
								<strong>Estatus:</strong>
								@Html.DropDownListFor(t => t.SecurityStatusId, (SelectList)ViewBag.Status, "-- Seleccione el estatus --")
							</div>

							<div class="col-6 col-12-xsmall">
								<strong>Estado:</strong>
								@Html.DropDownListFor(t => t.StateId, (SelectList)ViewBag.States, "-- Seleccione el estado --")
							</div>

							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Actualizar" class="primary" id="saveRequest"/></li>
								</ul>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	}
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script type="text/javascript">

		document.addEventListener("DOMContentLoaded", function() {
			const passwordInput = document.getElementById("Password");
			const togglePassword = document.getElementById("togglePassword");

			togglePassword.addEventListener("click", () => {

				const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
				passwordInput.setAttribute("type", type);

				togglePassword.innerHTML = type === "password"
					? '<i class="fa fa-eye"></i>'
					: '<i class="fa fa-eye-slash"></i>';
			});
		});

		document.addEventListener("DOMContentLoaded", function () {
			function handleInput(selector, transformFunction) {
				var inputElement = document.querySelector(selector);
				if (inputElement) {
					inputElement.addEventListener("input", function () {
						inputElement.value = transformFunction(inputElement.value);
					});
				}
			}

			handleInput("[name='FullName']", function (value) {
				return value.toUpperCase();
			});

			handleInput("[name='SecurityUserDocumentIdNumber']", function (value) {
				return value.replace(/[^0-9]/g, "");
			});
		});

		$("body").on("click", "#saveRequest", function (event) {
			event.preventDefault();

			if (!isOkToSave()) {
				return false;
			}

			if (!confirm("¿Está seguro de que desea actualizar los registros?")) {
				return false;
			}

			$(this).closest("form").trigger("submit");
		});

		$("form").submit(function (e) {
			e.preventDefault();

			if ($(this).valid()) {
				var paramValue1 = $('#SecurityUserDocumentIdNumber').val();
				var paramValue2 = $('#Login').val();
				var checkExistingUrl = '@Url.Action("CheckUserExist", "Security")';

				$.ajax({
					url: checkExistingUrl,
					data: {
						paramValue1: paramValue1,
						paramValue2: paramValue2
					},
					success: function (data) {
						showMsg(data);
					},
					cache: false
				});
			}
		});

		function isOkToSave() {
			let firstInvalidField = null;
			let message = "";

			if ($("#SecurityUserDocumentIdNumber").val() == "" && !firstInvalidField) {
				firstInvalidField = "#SecurityUserDocumentIdNumber";
				message = "Debe colocar la cedula";
			}

			if ($("#FullName").val() == "" && !firstInvalidField) {
				firstInvalidField = "#FullName";
				message = "Debe colocar el nombre completo del usuario";
			}


			if ($("#Login").val() == "" && !firstInvalidField) {
				firstInvalidField = "#Login";
				message = "Debe colocar el login";
			}

			if ($("#Password").val() == "" && !firstInvalidField) {
				firstInvalidField = "#Password";
				message = "Debe seleccionar el password";
			}

			if ($("#SecurityGroupId").val() == "" && !firstInvalidField) {
				firstInvalidField = "#SecurityGroupId";
				message = "Debe seleccionar el grupo";
			}

			if ($("#SecurityStatusId").val() == "" && !firstInvalidField) {
				firstInvalidField = "#SecurityStatusId";
				message = "Debe seleccionar el estatus";
			}

			if (firstInvalidField) {
				showAlert(message, firstInvalidField);
				return false;
			}

			return true;
		}

		function showAlert(message, selector) {
			alert(message);
			highlightErrorField(selector);
			$(selector).focus();
		}

		function highlightErrorField(selector) {
			$(selector).addClass("is-invalid");
			$(selector).on("input", function () {
				$(this).removeClass("is-invalid");
			});

			$(selector)[0].scrollIntoView({ behavior: "smooth", block: "center" });
		}

		function showMsg(hasCurrentJob) {
			if (hasCurrentJob != "OK") {
				alert(hasCurrentJob);
				return false;
			} else {

				$("form").unbind('submit').submit();
			}
		}

		$(document).ready(function () {
			setTimeout(function(){
				$("#successMessage").fadeOut("slow");
			}, 2500);
		});
	</script>
</body>
</html>


