@model List<SuperTransp.Models.SecurityModuleModel>
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Modificar Module</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
	<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

</head>
<body class="is-preload">
	@using (Html.BeginForm("EditModule", "Security", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
					<a href="#" class="logo">
						<span class="symbol"><img src="~/images/logo_login.jpg" alt="" /></span><span class="title">SuperTransp</span>
						<br />
						<span class="title">@ViewBag.EmployeeName</span>
					</a>
				</div>
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Modificar modulo", "ModuleList", "Security")</li>
					<li>@Html.ActionLink("Ajustes", "Index", "Settings")</li>
					<li>@Html.ActionLink("Salir", "Login", "Security")</li>
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Form -->
					<section>
						<h1 style="color:#4cbece">Modificar modulo</h1>
						<br />
						<div class="row gtr-uniform">
							<div class="col-12">
								<strong>Nombre:</strong>
								@Html.TextBoxFor(x => x.FirstOrDefault().SecurityModuleName, new { placeholder = "Nombre", tabindex = "0", maxlength = "20" })
								@Html.HiddenFor(x => x.FirstOrDefault().SecurityModuleId)
								<span asp-validation-for="FirstOrDefault().SecurityModuleName" class="text-danger"></span>
							</div>
							<div class="col-12">
								<strong>Descripción:</strong>
								@Html.TextBoxFor(x => x.FirstOrDefault().SecurityModuleDescription, new { placeholder = "Descripción", tabindex = "0", maxlength = "100" })
								<span asp-validation-for="FirstOrDefault().SecurityModuleDescription" class="text-danger"></span>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Actualizar" class="primary" /></li>
								</ul>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	}
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script type="text/javascript">

		$(document).ready(function () {

			$("form").submit(function (e) {
				e.preventDefault();
		});
	</script>
</body>
</html>


