@* @model List<SuperTransp.Models.SecurityLogbookModel> *@
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>

<head>
	<title>Reportes - Auditoria</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

	@*DataTable************************************************************************@
	<link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
	<link rel="stylesheet" href="~/datatable/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" href="~/datatable/css/responsive.bootstrap4.min.css" />
	@*************************************************************************************@

</head>
<body class="is-preload">
	<div style="width:100%; max-width: 100em; margin: 0 auto; padding: 0 1em;">
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="#" class="logo">
					<span><img src="~/images/Logo.png" width="100px" height="100px" alt="" /></span>
					<br />
					<span>@ViewBag.EmployeeName</span>
					<br />
					<span>Movimientos por Usuario</span>
				</a>
			</div>

			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
				<li>@Html.ActionLink("Organizaciones y Transportistas", "PublicTransportGroupList", "Reports")</li>
				<li>@Html.ActionLink("Organizaciones con socios supervisados", "PublicTransportGroupSupervisedDriversStatistics", "Reports")</li>
				<li>@Html.ActionLink("Gráficos Organizaciones por estado", "PublicTransportGroupStatisticsInState", "Reports")</li>
				<li>@Html.ActionLink("Gráficos vehículos supervisados por estado", "SupervisedDriversStatisticsInEstate", "Reports")</li>
				<li>@Html.ActionLink("Reportes/Consultas", "Index", "Reports")</li>
				<li>@Html.ActionLink("Salir", "Login", "Security")</li>
			</ul>
		</nav>

		<div id="main">
			<div class="inner">
				<!-- Form -->
				<section>
					<h4 style="color:#4cbece">Movimientos</h4>
					<input type="hidden" id="selectedStateName" value="@ViewBag.SelectedStateName" />
					<input type="hidden" id="filterType" value="@ViewBag.FilterType" />
					<br />
					<div id="loadingSpinner" style="text-align:center; padding:1em;">
						<div class="spinner-border text-info" role="status">
							<span class="sr-only">Cargando...</span>
						</div>
					</div>
					<table id="publicTransportGroupListDetail" class="table table-striped table-bordered dt-responsive dt-nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Fecha</th>
								<th>Dispositivo</th>
								<th>Sistema Operativo</th>
								<th>Navegador</th>
								<th>IP Dispositivo</th>
								<th>Nombre Completo</th>
								<th>Nombre de Usuario</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
					</table>
				</section>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>

	@*DataTable*******************************************@
	<script src="~/datatable/js/jquery-3.5.1.js"></script>
	<script src="~/datatable/js/jquery.dataTables.min.js"></script>
	<script src="~/datatable/js/dataTables.bootstrap4.js"></script>
	<script src="~/datatable/js/dataTables.responsive.min.js"></script>
	<script src="~/datatable/js/responsive.bootstrap4.min.js"></script>

	@***********************************************************@

	<script type="text/javascript">
		var checkExistingUrl = '@Url.Action("GetLogbookData", "Security")';
		$(document).ready(function () {
			let selectedStateName = $('#selectedStateName').val();
			let filterType = $('#filterType').val();

			$('#loadingSpinner').show();

			$('#publicTransportGroupListDetail').DataTable({
				ajax: {
					url: checkExistingUrl,
					type: 'GET',
					data: function (d) {
						d.selectedStateName = selectedStateName;
						d.filterType = filterType;
					},
					dataSrc: 'data'
				},
				pageLength: 10,
				lengthMenu: [10, 25, 50, 100, 500, 1000, 2000, 3000],
				order: [[0, 'desc']],
				columns: [
					{ data: 'id' },
					{ data: 'fecha' },
					{ data: 'dispositivo' },
					{ data: 'os' },
					{ data: 'navegador' },
					{ data: 'ip' },
					{ data: 'nombre' },
					{ data: 'login' },
					{ data: 'estado' },
					{ data: 'accion' }
				],
				stateSave: true,
				language: {
					sProcessing: "Procesando...",
					sLengthMenu: "Mostrar _MENU_ registros",
					sZeroRecords: "No se encontraron resultados",
					sEmptyTable: "Ningún dato disponible en esta tabla",
					sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
					sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
					sSearch: "Buscar:",
					oPaginate: {
						sFirst: "Primero",
						sLast: "Último",
						sNext: "Siguiente",
						sPrevious: "Anterior"
					}
				},
				initComplete: function () {

					$('#loadingSpinner').fadeOut();
				}
			});
		});
	</script>
</body>
</html>