@model SuperTransp.Models.SupervisionSummaryViewModel
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
	<title>Agregar Resumen de Supervisión</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
	<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

	@* Air DatePicker ******************************************************************************* *@
    <link href="~/plugins/airdatepicker/air-datepicker.min.css" rel="stylesheet" />
	@* *************************************************************************************************** *@

	@* DropZone************************************************************************************ *@
	<link href="~/plugins/dropzone/dropzone.min.css" rel="stylesheet" />
	@* ************************************************************************************ *@


	<style>
		.is-invalid {
			border: 2px solid red;
			background-color: #ffe6e6;
		}

		.custom-textarea {
			border: 2px solid;
			height: 100px !important;
		}

		.logo-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

			.logo-container img {
				display: block;
			}
	</style>
</head>
<body class="is-preload">
	@{
		bool isTotalAccess = ViewBag.IsTotalAccess != null && ViewBag.IsTotalAccess is bool && ViewBag.IsTotalAccess == true;
	}

	@using (Html.BeginForm("AddSummary", "Supervision", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<div class="inner">
					<!-- Logo -->
					<div class="logo-container">
						<!-- Logo izquierdo -->
						<img src="~/images/Logo.png" width="100px" height="100px" alt="Logo principal" />

						<!-- Logo derecho -->
						<img src="~/images/super-transp-logo.png" width="150px" height="150px" alt="Logo SuperTransp" />
					</div>
					<div class="logo">
						<span class="title">@ViewBag.EmployeeName</span>
						<br />
						@if (TempData["SuccessMessage"] != null)
						{
							<div id="successMessage" class="alert alert-success">
								@TempData["SuccessMessage"]
							</div>
						}
					</div>
				</div>
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul>
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Seleccionar Organización para hacer resumen", "PublicTransportGroupList", "Supervision")</li>
					<li>@Html.ActionLink("Modificar resumen de supervisión", "SummaryList", "Supervision")</li>
					<li>@Html.ActionLink("Supervisión", "Index", "Supervision")</li>
					<li>@Html.ActionLink("Salir", "Login", "Security")</li>
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Form -->
					<section>
						<h1 style="color:#4cbece">Agregar Resumen de Supervisión</h1>
						<label>Organización: @Model.PTGCompleteName</label>
						<br />
						<br />
						<br />
						<div class="row gtr-uniform">
							<div class="col-8">
								<strong>Fecha de la supervisión:</strong>
								@Html.HiddenFor(x => x.PTGCompleteName)
								@Html.HiddenFor(x => x.PublicTransportGroupId)
								@Html.HiddenFor(x => x.PublicTransportGroupRif)
								@Html.HiddenFor(x => x.SupervisionSummaryId)
								@Html.HiddenFor(x => x.SecurityUserId)
								@Html.HiddenFor(x => x.StateName)
								@Html.HiddenFor(x => x.StateId)
								@Html.TextBox("SupervisionDate", Model.SupervisionDate.ToString("dd/MM/yyyy"), new { maxlength = "20" })
							</div>
							<div class="col-12">
								<br />
								<strong>Dirección:</strong>
								@Html.TextAreaFor(x => x.SupervisionAddress, new
									{
										@class = "custom-textarea",
										placeholder = "Dirección",
										maxlength = "150"
									})
							</div>
							<div class="col-12">
								<br />
								<strong>Observaciones:</strong>
								@Html.TextAreaFor(x => x.SupervisionSummaryRemarks, new
									{
										@class = "custom-textarea",
										placeholder = "Observaciones",
										maxlength = "150"
									})
							</div>
							<div class="col-12">
								<br />
								<strong>Cargar imagenes o PDF:</strong>
								<div id="myDropzone"
									 class="dropzone @(isTotalAccess ? "dz-clickable" : "dz-disabled")"
									 style="@(isTotalAccess ? "" : "pointer-events:none; opacity:0.6;")">
									<div class="dz-message">
										Haga clic aquí para subir las imágenes o los PDF
									</div>
								</div>
							</div>
							<div class="col-12">
								<ul class="actions">
									@{
										if (ViewBag.IsTotalAccess)
										{
											<li><button type="submit" id="saveRequest" class="primary">Agregar resumen</button></li>
										}
									}									
								</ul>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	}
	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>

	@* Air DatePicker ******************************************************************************* *@
    <script src="~/plugins/airdatepicker/air-datepicker.min.js"></script>
	@* *********************************************************************************************** *@

	@* DropZone************************************************************************************ *@
	<script src="~/plugins/dropzone/dropzone.min.js"></script>
	@* ************************************************************************************ *@

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script type="text/javascript">

		document.addEventListener("DOMContentLoaded", function() {
			new AirDatepicker('#SupervisionDate', {
				dateFormat: 'dd/MM/yyyy',
				locale: {
					days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
					daysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
					daysMin: ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'],
					months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
					monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
					today: 'Hoy',
					clear: 'Borrar',
					dateFormat: 'dd/MM/yyyy',
					firstDay: 1
				},
				autoClose: true,
				minDate: new Date(2000, 0, 1),
				maxDate: new Date(2050, 11, 31)
			});
		});

		document.addEventListener("DOMContentLoaded", function() {
			var input = document.getElementById("SupervisionDate");

			input.addEventListener("change", function() {
				var regex = /^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/[0-9]{4}$/;
				if (!regex.test(this.value)) {
					alert("Formato de fecha inválido, debe ser DD/MM/YYYY.");
					this.value = "";
				}
			});
		});

		document.addEventListener("DOMContentLoaded", function () {
			function handleInput(selector, transformFunction) {
				var inputElement = document.querySelector(selector);
				if (inputElement) {
					inputElement.addEventListener("input", function () {
						inputElement.value = transformFunction(inputElement.value);
					});
				}
			}

			handleInput("[name='SupervisionAddress']", function (value) {
				return value.toUpperCase();
			});

			handleInput("[name='SupervisionSummaryRemarks']", function (value) {
				return value.toUpperCase();
			});
		});

		Dropzone.autoDiscover = false;
		var saveFilesUrl = '@Url.Action("SaveSummaryFiles", "Supervision")';
		const stateName = '@Model.StateName';
		const driverIdentityDocument = document.querySelector('[name="PublicTransportGroupId"]').value;
		const partnerNumber = '@Model.PublicTransportGroupId';
		const publicTransportGroupRif = '@Model.PublicTransportGroupRif';

		const dropzone = new Dropzone("#myDropzone", {
			url: saveFilesUrl,
			autoProcessQueue: true,
			paramName: "file",
			maxFilesize: 10,
			acceptedFiles: ".jpg,.png,.gif,.pdf",
			dictDefaultMessage: "Arrastra las imágenes aquí o haga clic para agregarlas.",
			addRemoveLinks: true,
			maxFiles: 50,
			headers: {
				"RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
			},

			params: {
				stateName: stateName,
				driverIdentityDocument: driverIdentityDocument,
				partnerNumber: partnerNumber,
				publicTransportGroupRif: publicTransportGroupRif
			},

			init: function () {
				let hasServerError = false;

				this.on("addedfile", function (file) {
					console.log("Archivo agregado:", file);
				});

				this.on("removedfile", function (file) {
					console.log("Archivo eliminado:", file);
				});

				this.on("success", function (file, response) {
					console.log("Respuesta exitosa del servidor:", response);
				});

				this.on("error", function (file, errorMessage, xhr) {
					hasServerError = true;

					let serverMessage = errorMessage;
					if (xhr && xhr.responseText) {
						try {
							serverMessage = xhr.responseText;
						} catch (e) {
							console.warn("No se pudo parsear el error del servidor.");
						}
					}

					alert("Error al subir archivo: " + serverMessage);
					console.error("Error Dropzone:", serverMessage);
				});

				this.on("queuecomplete", function () {
					if (hasServerError) {
						alert("Uno o más archivos no se cargaron correctamente. Por favor revise los errores.");
				 } else {
						alert("Todas las imágenes o documentos han sido cargados correctamente.");
					}
					hasServerError = false;
				});
			}
		});

		dropzone.hiddenFileInput.removeAttribute("multiple");

		$("body").on("click", "#saveRequest", function (event) {
			event.preventDefault();

			if (!isOkToSave()) {
				return false;
			}

			if (!confirm("¿Está seguro de que desea actualizar los registros?")) {
				return false;
			}

			$(this).closest("form").trigger("submit");
		});

		// $("form").on("submit", function (e) {
		// 	e.preventDefault();

		// 	if ($(this).valid()) {
		// 		var paramValue2 = $('#PublicTransportGroupId').val();
		// 		var paramValue4 = $('#PartnerNumber').val();
		// 		var checkExistingUrl = '@Url.Action("CheckExistingValues", "Driver")';
		// 		$.ajax({
		// 			url: checkExistingUrl,
		// 			data: {
		// 				paramValue2: paramValue2,
		// 				paramValue4: paramValue4
		// 			},
		// 			success: function (data) {
		// 				showMsg(data);
		// 			},
		// 			cache: false
		// 		});
		// 	}
		// });

		function isOkToSave() {
			const dzInstance = Dropzone.forElement("#myDropzone");
			const uploaded = dzInstance.getAcceptedFiles().filter(f => f.status === Dropzone.SUCCESS);

			let firstInvalidField = null;
			let message = "";

			if ($("#SupervisionAddress").val() == "" && !firstInvalidField) {
				firstInvalidField = "#SupervisionAddress";
				message = "Debe colocar la dirección donde tuvo lugar la supervisión";
			}

			if ($("#SupervisionSummaryRemarks").val() == "" && !firstInvalidField) {
				firstInvalidField = "#SupervisionSummaryRemarks";
				message = "Debe colocar las observaciones";
			}

			if (uploaded.length == 0) {
				firstInvalidField = "#myDropzone";
				message = "Debe agregar alguna imagen o documento para poder actualizar";
			}

			if (firstInvalidField) {
				showAlert(message, firstInvalidField);
				return false;
			}

			return true;
		}

		function showAlert(message, selector) {
			alert(message);
			highlightErrorField(selector);
			$(selector).focus();
		}

		function highlightErrorField(selector) {
			$(selector).addClass("is-invalid");
			$(selector).on("input", function () {
				$(this).removeClass("is-invalid");
			});

			$(selector)[0].scrollIntoView({ behavior: "smooth", block: "center" });
		}

		function showMsg(hasCurrentJob) {
			if (hasCurrentJob != "OK") {
				alert(hasCurrentJob);
				return false;
			} else {

				$("form").unbind('submit').submit();
			}
		}

		$(document).ready(function () {
			setTimeout(function(){
				$("#successMessage").fadeOut("slow");
			}, 2500);;

			$('#SupervisionDate').on('keydown', function (e) {
				if (e.key === "Enter") {
					e.preventDefault();
					return false;
				}
			});

			$('#SupervisionAddress').on('input', function() {
				const value = $(this).val();
				const sanitizedValue = value.replace(/[^a-zA-Z0-9\s]/g, '');
				$(this).val(sanitizedValue);
			});

			$('#SupervisionSummaryRemarks').on('input', function() {
				const value = $(this).val();
				const sanitizedValue = value.replace(/[^a-zA-Z0-9\s]/g, '');
				$(this).val(sanitizedValue);
			});
		});
	</script>
</body>
</html>


