@model SuperTransp.Models.PublicTransportGroupDriverListPageVM
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>

<head>
	<title>Supervisión - Seleccionar Organización</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	<link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

	<!-- Bootstrap JS (con Popper incluido) -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	@*DataTable************************************************************************@
	<link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
	<link rel="stylesheet" href="~/datatable/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" href="~/datatable/css/responsive.bootstrap4.min.css" />
	@*************************************************************************************@

	<style>
		.view-info {
			border: none;
			background: none;
			height: 30px;
			outline: none;
			box-shadow: none;
		}

			.view-info:focus, .view-info:active {
				outline: none !important;
				box-shadow: none !important;
			}

		body.modal-open {
			overflow: auto !important;
		}

		.modal {
			z-index: 1050 !important;
		}

		.custom-success {
			background-color: green; /* fondo verde */
			color: #ffffff; /* letras blancas */
			padding: 15px;
			border-radius: 5px;
			margin-top: 10px;
			text-align: center;
			font-weight: bold;
			box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		}

		.logo-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

			.logo-container img {
				display: block;
			}
	</style>

</head>
<body class="is-preload">
	<div style="width:100%; max-width: 100em; margin: 0 auto; padding: 0 1em;">
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<div class="logo-container">
					<!-- Logo izquierdo -->
					<img src="~/images/Logo.png" width="100px" height="100px" alt="Logo principal" />

					<!-- Logo derecho -->
					<img src="~/images/super-transp-logo.png" width="150px" height="150px" alt="Logo SuperTransp" />
				</div>
				<div class="logo">
					<span>@ViewBag.EmployeeName</span>
					<br />
					<span>Agregar supervisión a organización de transporte</span>
					<br />
					@if (TempData["SuccessMessage"] != null)
					{
						<div id="successMessage" class="custom-success">
							@TempData["SuccessMessage"]
						</div>
					}
				</div>
			</div>
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
				<li>@Html.ActionLink("Agregar resumen de supervisión", "PublicTransportGroupList", "Supervision")</li>
				<li>@Html.ActionLink("Modificar resumen de supervisión", "SummaryList", "Supervision")</li>
				<li>@Html.ActionLink("Supervisión", "Index", "Supervision")</li>
				<li>@Html.ActionLink("Salir", "Login", "Security")</li>
			</ul>
		</nav>

		<div id="main">
			<div class="inner">
				<!-- Form -->
				<section>
					<h4 style="color:#4cbece"> Seleccione una Organización</h4>
					<br />
					<div id="loadingSpinner" style="text-align:center; padding:1em;">
						<div class="spinner-border text-info" role="status">
							<span class="sr-only">Cargando...</span>
						</div>
					</div>
					<table id="inventory" class="table table-striped table-bordered dt-responsive dt-nowrap">
						<thead>
							<tr>
								<th>Nombre Organización</th>
								<th>Rif</th>
								<th>Nombre Socio</th>
								<th># Socio</th>
								<th>Cédula</th>
								<th>Estado</th>
								<th>Supervisor</th>
								<th>Estatus</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</section>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="infoModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Detalles de la supervisión</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p><strong>Nombre:</strong> <span id="modalDriver"></span></p>
					<p><strong># Socio:</strong> <span id="modalPartner"></span></p>
					<p><strong>¿Tiene vehículo:</strong> <span id="modalDriverWithVehicle"></span></p>
					<p><strong>¿Socio presente?:</strong> <span id="modalDriverInPerson"></span></p>
					<div class="modal-vehicle-data">
						<p><strong>¿Vehículo en funcionamiento?:</strong> <span id="modalDriverWithWorkingVehicle"></span></p>
						<p><strong>Placa:</strong> <span id="modalVehiclePlate"></span></p>
						<p><strong>Año:</strong> <span id="modalVehicleYear"></span></p>
						<p><strong>Marca:</strong> <span id="modalVehicleMake"></span></p>
						<p><strong>Modelo:</strong> <span id="modalVehicleModel"></span></p>
						<p><strong># Pasajeros:</strong> <span id="modalVehiclePassengers"></span> puestos</p>
						<p><strong>Tipo de neumáticos:</strong> <span id="modalVehicleRimName"></span></p>
						<p><strong># Neumáticos:</strong> <span id="modalVehicleWheels"></span></p>
						<p><strong>Tipo de aceite:</strong> <span id="modalVehicleMotorOilname"></span></p>
						<p><strong># Litros:</strong> <span id="modalVehicleMotorOilLiters"></span></p>
						<p><strong>Tipo de combustible:</strong> <span id="modalVehicleFuelType"></span></p>
						<p><strong># Capacidad:</strong> <span id="modalVehicleTankCapacity"></span>  litros</p>
						<p><strong>Tipo de batería:</strong> <span id="modalVehicleBatteryName"></span></p>
						<p><strong># Cantidad:</strong> <span id="modalVehicleNumberOfBatteries"></span></p>
						<p><strong>Tipo de falla:</strong> <span id="modalVehicleFailureTypeName"></span></p>
						<p><strong>Problemas con huella:</strong> <span id="modalDriverFingerprintTrouble"></span></p>
						<p><strong>Observaciones:</strong> <span id="modalRemarks"></span></p>
					</div>
				</div>
				<div class="modal-image">
					<div class="modal-footer" style="display:flex; justify-content:center;align-items:center;height:200px">
						<strong>Imágenes:</strong>
						<div id="thumbnail-container" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/browser.min.js"></script>
	<script src="~/assets/js/breakpoints.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<script src="~/assets/js/main.js"></script>

	@*DataTable*******************************************@
	<script src="~/datatable/js/jquery-3.5.1.js"></script>
	<script src="~/datatable/js/jquery.dataTables.min.js"></script>
	<script src="~/datatable/js/dataTables.bootstrap4.js"></script>
	<script src="~/datatable/js/dataTables.responsive.min.js"></script>
	<script src="~/datatable/js/responsive.bootstrap4.min.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	@***********************************************************@

	<script type="text/javascript">
		$(document).ready(function () {

			setTimeout(function(){
				$("#successMessage").fadeOut("slow");
			}, 2500);

			$('#loadingSpinner').show();

			var ptgRifName = @Html.Raw(Json.Serialize(Model.PTGRifName ?? ""));

			if (!ptgRifName) {
				var qs = new URLSearchParams(window.location.search);
				ptgRifName = qs.get('ptgRifName') || "";
			}

			var table = $('#inventory').DataTable({
			stateSave: true,
			ajax: {
				url: '@Url.Action("PublicTransportGroupDriverListData", "Supervision")',
				type: "GET",
				data: function (d) {
					d.ptgRifName = ptgRifName;
				},
				dataSrc: 'data',
				complete: function() {
					$('#loadingSpinner').hide();
				},
				error: function(xhr, status, error) {
					$('#loadingSpinner').hide();
					console.error("Error cargando datos:", error);
				}
			},
			columns: [
				{
					data: "ptgCompleteName",
					render: function (data, type, row) {
						var statusColorPTG = (row.totalSupervisedDrivers > 0 && row.totalDrivers === row.totalSupervisedDrivers) ? "green" : "red";
						var url = buildSupervisionUrl(row);
						return `<a href="${url}" class="action-link" style="color:${statusColorPTG};" data-group-id="${row.publicTransportGroupId}">${data}</a>`;
					}
				},
				{ data: "publicTransportGroupRif" },
				{
					data: "driverFullName",
					render: function (data, type, row) {
						var statusColorDriver = row.supervisionStatusName === "PENDIENTE" ? "red" : "green";
						var url = buildSupervisionUrl(row);
						return `<a href="${url}" class="action-link" style="color:${statusColorDriver};" data-group-id="${row.publicTransportGroupId}">${data}</a>`;
					}
				},
				{ data: "partnerNumber" },
				{
					data: "driverIdentityDocument",
					render: function (data, type, row) {
						var statusColorDriver = row.supervisionStatusName === "PENDIENTE" ? "red" : "green";
						var url = buildSupervisionUrl(row);
						return `<a href="${url}" class="action-link" style="color:${statusColorDriver};" data-group-id="${row.publicTransportGroupId}">${data}</a>`;
					}
				},
				{ data: "stateName" },
				{ data: "userFullName" },
				{
				data: "supervisionStatusName",
				render: function (data, type, row) {
					if (data === "SUPERVISADO") {
							return `${data}
								<button class="view-info p-1"
									data-name="${row.ptgCompleteName}"
									data-driver="${row.driverFullName}"
									data-partner="${row.partnerNumber}"
									data-driver-with-vehicle="${row.driverWithVehicle}"
									data-driver-with-working-vehicle="${row.workingVehicle}"
									data-driver-in-person="${row.inPerson}"
									data-vehicle-plate="${row.plate}"
									data-vehicle-year="${row.year}"
									data-vehicle-make="${row.make}"
									data-vehicle-model="${row.model}"
									data-vehicle-passengers="${row.passengers}"
									data-vehicle-rim-name="${row.rimName}"
									data-vehicle-wheels="${row.wheels}"
									data-vehicle-motor-oil-name="${row.motorOilName}"
									data-vehicle-motor-oil-liters="${row.liters}"
									data-vehicle-fuel-type="${row.fuelTypeName}"
									data-vehicle-tank-capacity="${row.tankCapacity}"
									data-vehicle-battery-name="${row.batteryName}"
									data-vehicle-number-batteries="${row.numberOfBatteries}"
									data-vehicle-failure-type-name="${row.failureTypeName}"
									data-vehicle-image-url='${JSON.stringify(row.pictures?.map(p => p.vehicleImageUrl) || [])}'
									data-fingerprint-trouble="${row.fingerprintTrouble}"
									data-remarks="${row.remarks}"
									data-status="${row.supervisionStatusName}">
									<i class="fas fa-eye" style="font-size:14px;"></i>
								</button>`;
						}

						return data;
					}
				}
			],
			language: {
				sProcessing: "Procesando...",
				sLengthMenu: "Mostrar _MENU_ registros",
				sZeroRecords: "No se encontraron resultados",
				sEmptyTable: "Ningún dato disponible en esta tabla",
				sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
				sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
				sSearch: "Buscar:",
				oPaginate: {
					sFirst: "Primero",
					sLast: "Último",
					sNext: "Siguiente",
					sPrevious: "Anterior"
				}
			}
	});

	function buildSupervisionUrl(row) {
		var addEdit = row.supervisionStatusName === "PENDIENTE" ? "Add" : "Edit";
		var url = '@Url.Action("__ACTION__", "Supervision")'.replace("__ACTION__", addEdit);

		var params = {
			publicTransportGroupId: row.publicTransportGroupId,
			pTGCompleteName: row.ptgCompleteName,
			driverFullName: row.driverFullName,
			partnerNumber: row.partnerNumber,
			publicTransportGroupRif: row.publicTransportGroupRif,
			driverIdentityDocument: row.driverIdentityDocument,
			stateName: row.stateName,
			supervisionStatus: row.supervisionStatus,
			driverId: row.driverId,
			supervisionId: row.supervisionId,
			modeId: row.modeId,
			modeName: row.modeName,
			stateId: row.stateId,
			driverPublicTransportGroupId: row.driverPublicTransportGroupId
		};

		var queryString = Object.keys(params)
			.map(k => `${k}=${encodeURIComponent(params[k] ?? "")}`)
			.join("&");

			return `${url}?${queryString}`;
		}

		$(document).on('click touchstart', '.view-info', function () {
			$('#modalDriver').text($(this).data('driver'));
			$('#modalPartner').text($(this).data('partner'));

			if ($(this).data('driver-with-vehicle') == true) {
				$('#modalDriverWithVehicle').text('Sí')
				if($(this).data('driver-in-person') == false) {
					$(".modal-vehicle-data").hide();
					$(".modal-image").hide();
				}else{
					$(".modal-vehicle-data").show();
					$(".modal-image").show();
				}
			} else {
				$('#modalDriverWithVehicle').text('No')
				$('#modalDriverInPerson').text('No')
				$(".modal-vehicle-data").hide();
				$(".modal-image").hide();
			}

			$('#modalDriverWithWorkingVehicle').text($(this).data('driver-with-working-vehicle') == true ? 'Sí' : 'No');
			$('#modalDriverInPerson').text($(this).data('driver-in-person') == true ? 'Sí' : 'No');

			$('#modalVehiclePlate').text($(this).data('vehicle-plate'));
			$('#modalVehicleYear').text($(this).data('vehicle-year'));
			$('#modalVehicleMake').text($(this).data('vehicle-make'));
			$('#modalVehicleModel').text($(this).data('vehicle-model'));
			$('#modalVehiclePassengers').text($(this).data('vehicle-passengers'));
			$('#modalVehicleRimName').text($(this).data('vehicle-rim-name'));
			$('#modalVehicleWheels').text($(this).data('vehicle-wheels'));
			$('#modalVehicleMotorOilname').text($(this).data('vehicle-motor-oil-name'));
			$('#modalVehicleMotorOilLiters').text($(this).data('vehicle-motor-oil-liters'));
			$('#modalVehicleFuelType').text($(this).data('vehicle-fuel-type'));
			$('#modalVehicleTankCapacity').text($(this).data('vehicle-tank-capacity'));
			$('#modalVehicleBatteryName').text($(this).data('vehicle-battery-name'));
			$('#modalVehicleNumberOfBatteries').text($(this).data('vehicle-number-batteries'));
			$('#modalVehicleFailureTypeName').text($(this).data('vehicle-failure-type-name'));

			const rawList = this.dataset.vehicleImageUrl;
			const urls = rawList ? JSON.parse(rawList) : [];
			const container = document.getElementById("thumbnail-container");
			container.innerHTML = "";
			urls.forEach(url => {
				if (!url) return;
				const element = document.createElement("div");
				element.style.display = "inline-block";
				element.style.margin = "6px";
				if (/\.(jpe?g|png|gif|bmp|webp)$/i.test(url)) {
					const img = document.createElement("img");
					img.src = url;
					img.style.width = "100px";
					img.style.border = "1px solid #ccc";
					img.style.borderRadius = "4px";
					element.appendChild(img);
				} else if (/\.pdf$/i.test(url)) {
					const icon = document.createElement("img");
					icon.src = "/images/pdf-icon.png";
					icon.style.width = "100px";
					icon.title = url.split("/").pop();
					element.appendChild(icon);
				}
				element.addEventListener("click", () => window.open(url, "_blank"));
				container.appendChild(element);
			});

			$('#modalDriverFingerprintTrouble').text($(this).data('fingerprint-trouble') == true ? 'Sí' : 'No');
			$('#modalRemarks').text($(this).data('remarks'));
			$('#infoModal').modal('show');
		});

		$('.close-modal, .close').on('click', function () {
			$('#infoModal').modal('hide');
		});
	});
	</script>
</body>
</html>