@using SuperTransp.Utils
@model SuperTransp.Models.PublicTransportGroupViewModel
@{
    Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Agregar Organización de Transporte</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="~/datatable/css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="~/images/Logo.ico" />

    <style>
        .is-invalid {
            border: 2px solid red;
            background-color: #ffe6e6;
        }

        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 10000 !important;
        }

        .logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .logo-container img {
                display: block;
            }
    </style>
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>
<body class="is-preload">
    @{
        bool isTotalAccess = ViewBag.IsTotalAccess != null && ViewBag.IsTotalAccess is bool && ViewBag.IsTotalAccess == true;
    }
    @using (Html.BeginForm("Add", "PublicTransportGroup", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo-container">
                        <!-- Logo izquierdo -->
                        <img src="~/images/Logo.png" width="100px" height="100px" alt="Logo principal" />

                        <!-- Logo derecho -->
                        <img src="~/images/super-transp-logo.png" width="150px" height="150px" alt="Logo SuperTransp" />
                    </div>
                    <div class="logo">
                        <span>@ViewBag.EmployeeName</span>
                        <br />
                        <br />
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div id="successMessage" class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                    </div>
                </div>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Modificar organización", "PublicTransportGroupList", "PublicTransportGroup")</li>
                    <li>@Html.ActionLink("Agregar socios a organización", "PublicTransportGroupList", "Driver")</li>
                    <li>@Html.ActionLink("Organizaciones de transporte", "Index", "PublicTransportGroup")</li>
                    <li>@Html.ActionLink("Salir", "Login", "Security")</li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <!-- Form -->
                    <section>
                        <h1 style="color:#4cbece">Agregar organización de transporte</h1>
                        <br />
                        <div class="row gtr-uniform">
                            <div class="col-6">
                                <strong>RIF:</strong>
                                @Html.HiddenFor(x => x.PublicTransportGroupIdModifiedDate)
                                @Html.TextBoxFor(x => x.PublicTransportGroupRif, new { placeholder = "RIF", tabindex = "0", maxlength = "10" })
                                <span asp-validation-for="PublicTransportGroupRif" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <strong>Entidad legal:</strong>
                                @Html.TextBox("DesignationName", null, new { @class = "form-control", @id = "designationInput", placeholder = "-- Seleccione o escriba para buscar --" })
                                @Html.HiddenFor(t => t.DesignationId)
                            </div>
                            <div class="col-12">
                                <strong>Nombre:</strong>
                                @Html.TextBoxFor(x => x.PublicTransportGroupName, new { placeholder = "Nombre de la organización de transporte", maxlength = "100" })
                                <span asp-validation-for="PublicTransportGroupName" class="text-danger"></span>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <strong>Estado:</strong>
                                @Html.DropDownListFor(t => t.StateId, (SelectList)ViewBag.States, "-- Seleccione --", new { @class = "form-control" })
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <strong>Municipio:</strong>
                                <select id="MunicipalityId" name="MunicipalityId" class="form-control">
                                    <option value="">Seleccione un municipio</option>
                                </select>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <strong>Modalidad:</strong>
                                @Html.DropDownListFor(t => t.ModeId, (SelectList)ViewBag.Mode, "-- Seleccione --", new { @class = "form-control" })
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <strong>Gremio o Sindicato:</strong>
                                <select id="UnionId" name="UnionId" class="form-control">
                                    <option value="">Seleccione un gremio</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <strong>Cédula Representante:</strong>
                                @Html.TextBoxFor(x => x.RepresentativeIdentityDocument, new { placeholder = "Cédula Representante", maxlength = "8" })
                                <span asp-validation-for="RepresentativeIdentityDocument" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <strong>Nombre Representante:</strong>
                                @Html.TextBoxFor(x => x.RepresentativeName, new { placeholder = "Nombre del Representante", maxlength = "50" })
                                <span asp-validation-for="RepresentativeName" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <strong>Teléfono Representante:</strong>
                                @Html.TextBoxFor(x => x.RepresentativePhone, new { placeholder = "Teléfono del Representante", maxlength = "11" })
                                <span asp-validation-for="RepresentativePhone" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <strong>Cupo:</strong>
                                @Html.TextBoxFor(x => x.Partners, new { placeholder = "Cantidad de Socios", maxlength = "3" })
                                <span asp-validation-for="Partners" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    @{
                                        if (ViewBag.IsTotalAccess)
                                        {
                                            <li><button type="submit" id="saveRequest" class="primary">Actualizar</button></li>
                                        }
                                    }									
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
    <!-- Scripts -->
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/public-transport-group-add.js" asp-append-version="true"></script>
    <script>
        const patterns = @Html.Raw(Json.Serialize(ViewBag.DesignationList));
        window.patterns = patterns;
        window.isTotalAccess = @(ViewBag.IsTotalAccess != null && ViewBag.IsTotalAccess is bool && ViewBag.IsTotalAccess == true ? "true" : "false");
        window.designations = [];
        @foreach (var item in (SelectList)ViewBag.Designation)
        {
            @:window.designations.push({label: "@Html.Raw(item.Text)", value: "@item.Value" });
        }
        window.checkExistingUrl = '@Url.Action("CheckRifExist", "PublicTransportGroup")';
        window.getMunicipalityUrl = '@Url.Action("GetMunicipality", "PublicTransportGroup")';
        window.getUnionUrl = '@Url.Action("GetUnion", "PublicTransportGroup")';
    </script>
</body>
</html>


